<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <nav>
    <ul>
      <li [routerLink]="['/page-1']">Page 1</li>
      <li [routerLink]="['/page-2']">Page 2</li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

<hr>
<h2>Directive tests</h2>

<div>
  <button tawkEvent tawkCategory="tawk_directive_test" tawkAction="click_test">Click Test</button>
  <button tawkEvent tawkCategory="tawk_directive_test" tawkAction="focus_test" tawkBind="focus">Focus Test</button>
  <button tawkEvent tawkCategory="tawk_directive_test" tawkAction="blur_test" tawkBind="blur">Blur Test</button>
</div>

<div>
  <input tawkEvent tawkCategory="tawk_directive_input_test" tawkAction="fill_blur" placeholder="Auto Blur Test">
</div>

<h2>Group Directive Test</h2>

<div tawkCategory="tawk_test_category">
  <button tawkEvent tawkAction="click_test">Click Test</button>
  <button tawkEvent tawkAction="focus_test" tawkBind="focus">Focus Test</button>
  <button tawkEvent tawkAction="blur_test" tawkBind="blur">Blur Test</button>
</div>